<p><%= @answer %></p>
<p>-You</p>

<% if @answer.end_with?("?") %>
  <p><%= "Silly question, get dressed and go to work!" %></p>
<% elsif @answer == "I am going to work." %>
  <p><%= "Great!" %></p>
<% else %>
  <p><%= "I don't care, get dressed and go to work!" %></p>
<% end %>
<p>-Your coach</p>
<%= link_to "Ask a new question", ask_path %>
